.jumbotron {
  background: $black;

  .white-text {
    color:rgba(255,255,255,1);
    text-shadow: 0 1px 0 rgba(0,0,0,0.75);
  }

  h1 {
    font-family:$header-font;
    @include font-size(2.5);
    text-align: center;

    @extend .white-text;
  }

  p, li {
    @extend .white-text;
  }
}